/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
#backgroundCanvas{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 40vh;
    opacity: .5;
    mix-blend-mode: screen;
}

body {
    width: 100vw;
    color: rgb(251, 227, 242);
    background-color: rgb(161, 0, 105);
}

#navBar {
    position: absolute;
    top: 0;
    height: 5vh;
    width: 95vw;
    padding-top: 10vh;
    padding-right: 5vw;
    height: 100px;
    font-size: 20px;
    z-index: 1;
} 
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: flex-end;
    } 
        #navList li{
            font-family: 'Rowdies', cursive;
            justify-items: flex-end;
            padding-left: 5vw;
        }

    

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    justify-content: center;
    width: 100vw;
    height: 10vh;
}
    footer li{
        padding-left: 1vw;
        padding-bottom: 5vh;
    }
    #linkedInIcon, #gitHubIcon {
        height: 30px;
        width: 30px;
    }


        
#home{
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 80vh;
 width: 100vw;
 position: absolute;
 bottom: 5;

}


    #home h3{
        font-size: 35px;
        font-family: 'Rock Salt', cursive;
        padding-bottom: 5vh;   
        padding-left: 25vw; 
    }
    #home h1{
        font-size: 75px;
        font-family: 'Rock Salt', cursive;
        padding-bottom: 5vh;
        padding-left: 20vw;
        justify-content: center;
    }
    #home h2{
        font-size: 40px;
        font-family: 'Rowdies', cursive;
        align-self: flex-end;
        padding-right: 25vw;
    }

#experience {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 95vh;
    position: absolute;
    bottom: 5;
    justify-content: center;
    font-family: 'Rowdies', cursive;
}
    #experience h1{
        font-size: 75px;
        font-family: 'Rock Salt', cursive;
        padding-bottom: 15vh;
        padding-left: 10vw;
    }

    #experience h2{
        font-size: 45px;
        padding-left: 40vw;
        padding-bottom: 1vh
    }
        #experience h2 p{
            font-size: 15px;
            padding-left: 3vw;
        }
    #experience h3{
        font-size: 30px;
        font-family: 'Rock Salt', cursive;
        padding-left: 80vw;
        padding-bottom: 5vh;
    }

    #experience div.jobDetails{
        padding-left: 42vw;
        font-weight: 300;
        padding-bottom: 8vh;
    }
    #experience div.jobDetails p{
        padding-bottom: .5vh;
        font-size: 14px;
    }


